@media screen and (min-width: 48em) {
  /*------ Tablet Default Styling ------*/
  .mobile {
    display: none;
  }

  .pc {
    display: block;
  }

  .container {
    margin: 0 48px;
  }

  /* Default - Text */
  h1 {
    font-size: 28px;
    padding-left: 12px;
    margin: 0 0 30px;
  }

  h1:before {
    border-top: 4px dotted var(--lightbrown);
    bottom: 22px;
  }

  h1::after {
    font-size: 14px;
    margin-top: 7px;
  }

  h2 {
    font-size: 20px;
    padding-left: 24px;
  }

  h2::before {
    height: 12px;
    width: 12px;
    border-radius: 3px;
    top: 3.5px;
    left: 4px;
  }

  h2::after {
    border-top: 3px dotted var(--lightbrown);
  }

  .empty {
    font-size: 18px;
    margin-bottom: 24px;
  }

  .note {
    font-size: 16px;
    margin-bottom: 24px;
  }

  /* Default - Form */
  input[type="text"],
  input[type="password"],
  input[type="search"],
  textarea[type="text"],
  select {
    border-radius: 12px;
  }

  /* Default - Link */
  .dotted-line::after {
    border-top: 3.5px dotted var(--lightbrown);
  }

  .button {
    font-size: 18px;
    line-height: 18px;
    border-radius: 12px;
    padding: 14px 0px 8px;
  }

  .button-short {
    width: 200px;
  }

  .button-long {
    height: 48px;
    width: 320px;
  }

  /* Default - ProductList */
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px 0;
    width: 90%;
    margin: 36px auto;
  }

  .product-list img {
    width: 80%;
    border-radius: 10%;
    margin: 0 auto;
    display: block;
    box-shadow: 3px 3px 5px var(--shadow);
  }

  .product-list p {
    margin-top: 10px;
    font-size: 14px;
  }

  .product-list span {
    margin-top: 4px;
    font-size: 13px;
  }

  .product-more {
    font-size: 16px;
    padding-right: 5%;
  }

  /* Default - CategoryList */
  .category-list {
    display: flex;
  }

  .category-list li {
    width: 20%;
    border-radius: 30%;
  }

  .category-list img {
    width: 70%;
    box-shadow: 3px 3px 5px var(--shadow);
  }

  /* Default - PageNav */
  .page-nav {
    font-size: 20px;
    margin: 64px auto;
  }

  .page-nav ul {
    margin: 0 36px;
  }

  .page-nav li + li {
    margin-left: 24px;
  }

  .page-nav i {
    font-size: 14px;
    padding: 0 16px;
  }

  .page-nav-now::after {
    border-top: 4px dotted var(--lightbrown);
    width: 24px;
  }

  /* Defalut - Modal */
  .page-modal-content {
    padding: 10% 5% 8%;
    width: 80%;
    border: 2px solid var(--lightbrown);
    border-radius: 16px;

    background-color: var(--beige);
    display: block;
    text-align: center;
    margin: 20% auto;
  }

  .page-modal-content p {
    font-size: 20px;
    margin-bottom: 48px;

    font-weight: bold;
    color: var(--brown);
  }

  .page-modal-content a,
  .page-modal-content button {
    margin-bottom: 20px;
  }

  /* Default - Complete */
  .complete-content {
    padding-top: 48px;
  }

  .complete p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .complete a {
    margin-top: 48px;
  }

  /* Default - Section */
  section:first-child {
    padding-top: 84px;
  }

  section {
    padding-top: 72px;
  }

  section:last-child {
    padding-bottom: 440px;
  }

  /*------ header ------*/
  .header {
    height: auto;
    padding: 0;
  }

  .header-content {
    padding: 18px 36px 14px;
    margin: 0 auto;
    width: 98%;
  }

  .header-logo {
    margin-left: 0;
    margin-right: 36px;
  }

  .header-logo svg {
    height: 22px;
  }

  .header-left-nav {
    font-size: 16px;
    margin-top: 6px;
  }

  .header-left-nav ul {
    display: flex;
  }

  .header-left-nav li + li {
    margin-left: 24px;
  }

  .header-right-nav-pc {
    display: flex;
    height: 24px;
  }

  .header-right-nav-pc li {
    text-align: center;
    width: 40px;
  }

  .header-right-nav-pc i {
    width: 30px;
    height: 20px;
  }

  .header-right-nav-pc p {
    display: none;
    font-size: 10px;
    font-weight: bold;
    color: var(--brown);
    padding: 5px 0 0 0;
    margin: 0;
  }

  .header-right-nav-pc li + li {
    margin-left: 6px;
  }

  header:after {
    width: 98%;
  }

  /*------ Home ------*/
  /* Home - Search */
  .home-search {
    margin-top: -10px;
    margin-bottom: 16px;
  }

  .home-search-button {
    height: 34px;
    width: 34px;
    border-radius: 10px;
    margin-left: 4px;
    text-align: center;
  }

  .home-search i {
    font-size: 18px;
    line-height: 34px;
  }

  .home-search input {
    height: 40px;
    padding: 6px 15px;
    width: 200px;
    font-size: 18px;
  }

  /* Home - MV */
  .MV-img {
    box-shadow: 4px 4px 12px var(--shadowMV);
    border-radius: 50px;
    width: 90%;
    max-width: 1180px;
  }

  .MV-content svg {
    height: 36px;
    margin-bottom: 16px;
    stroke: var(--lightbrown);
    stroke-width: 2px;
    stroke-opacity: 0.8;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .MV-content p {
    font-size: 16px;
  }

  /* Home - Category */
  .home-category .category-list p {
    font-size: 14px;
    margin-top: 14px;
  }

  /* Home - Info */
  .home-info-list {
    width: 90%;
    margin: 0 auto;
  }

  .home-info-list li {
    border-bottom: 2.5px dotted var(--lightbrown);
  }

  .home-info-list span {
    margin-right: 14px;
    width: 90px;
  }

  .home-info-list p {
    font-size: 16px;
    margin-top: 10px;
  }

  /*------ Search ------*/
  .search-content {
    width: 80%;
    margin: 30px auto 0;
  }

  .search-title {
    font-size: 18px;
    font-weight: bold;
    color: var(--brown);
    margin-bottom: 32px;
    padding-left: 6px;
    border-bottom: 3px dotted var(--lightbrown);
  }

  .search-keyword {
    margin-bottom: 60px;
  }

  .search-keyword-content {
    width: 84%;
  }

  .search-keyword-content input {
    height: 40px;
    padding: 6px 15px;
    font-size: 18px;
    width: 250px;
  }

  .search-keyword-content i {
    font-size: 20px;
    color: var(--beige);
  }

  .search-keyword-content-button {
    background-color: var(--brown);
    height: 37px;
    width: 37px;
    border-radius: 10px;
    margin-left: 2px;
  }

  .search-category .category-list p {
    font-size: 12px;
    font-weight: normal;
    margin-top: 12px;
  }

  /*------ Login ------*/
  .login-content {
    width: 80%;
  }

  .login-flex {
    margin: 0 auto 6px;
    display: flex;
    width: fit-content;
    align-items: center;
  }

  .login-flex:nth-child(2) {
    margin-bottom: 16px;
  }

  .login-content label {
    font-size: 16px;
    width: 130px;
    margin: 0;
  }

  .login-content input[type="text"],
  .login-content input[type="password"] {
    margin-bottom: 0;
    width: 300px;
    font-size: 18px;
    padding: 10px 12px 4px;
  }

  .login-content-text {
    margin-top: 36px;
    font-size: 18px;
  }

  .login-err {
    font-size: 16px;
    margin-bottom: 12px;
    height: 16px;
  }

  /*------ Signup ------*/
  .signup-content {
    width: 80%;
  }

  .signup-flex {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto 6px;
  }

  .signup-flex:nth-child(3) {
    margin-bottom: 20px;
  }

  .signup-content label {
    font-size: 16px;
    width: 200px;
    margin: 0;
  }

  .signup-content input[type="text"],
  .signup-content input[type="password"] {
    margin-bottom: 0;
    width: 300px;
    font-size: 18px;
    padding: 10px 12px 4px;
  }

  .signup-note {
    font-size: 14px;
    margin: 0 auto 20px;
  }

  .signup-err {
    font-size: 16px;
    height: 16px;
    margin-top: 20px;
  }

  /*------ Signup Detail ------*/
  .signup-detail-content {
    width: 80%;
  }

  .signup-detail-content h2 {
    margin-bottom: 10px;
  }

  .signup-detail-content .required-text {
    font-size: 14px;
  }

  .signup-detail-content .required::after {
    font-size: 16px;
    margin-left: 5px;
  } /* labelの ※ */

  .signup-detail-content .optional::after {
    font-size: 13px;
    padding: 5px 6px 1px;
    border-radius: 5px;
    margin-left: 5px;
  } /* labelの[任意] */

  .signup-detail-content input[type="text"],
  .signup-detail-content select {
    padding: 11px 13px 7px;
    font-size: 18px;
  }

  .signup-detail-content .select::after {
    width: 10px;
    height: 10px;
    right: 12px;
    border-bottom: 2px solid var(--lightbrown);
    border-right: 2px solid var(--lightbrown);
  } /* 選択ボタンを疑似要素で表示 */

  .signup-detail-content select {
    padding-right: 36px;
  } /* 選択ボタン用のスペース */

  .signup-detail-list {
    margin: 36px auto 72px;
    width: 80%;
  }

  .signup-detail-list li + li {
    margin-top: 22px;
  }

  .signup-detail-list label {
    font-size: 17px;
    margin-bottom: 6px;
  }

  .signup-detail-name input {
    width: 150px;
  }

  .signup-detail-long input {
    width: 400px;
  }

  .signup-detail-zipcode input {
    width: 180px;
  }

  .signup-detail-city input {
    width: 200px;
  }

  .signup-detail-tel input {
    width: 250px;
  }

  /*------ MyPage ------*/
  .mypage-content {
    margin-left: 72px;
    display: flex;
  }
  .mypage-content ul:first-child {
    margin-bottom: 0;
  }

  .mypage-content ul + ul {
    margin-left: 100px;
  }

  .mypage-content li {
    font-size: 16px;
  }

  .mypage-content li::before {
    height: 5px;
    width: 5px;
    top: 5px;
    left: -10px;
  }

  .mypage-content li + li {
    margin-top: 24px;
  }

  .mypage-name {
    padding-left: 64px;
    font-size: 18px;
    margin-bottom: 40px;
    text-decoration: underline dotted 2px var(--lightbrown);
    text-underline-offset: 4px;
  }

  /*------ Mypage Edit ------*/
  .mypage-edit-content {
    width: 80%;
  }

  .mypage-edit-content input[type="text"],
  .mypage-edit-content input[type="password"],
  .mypage-edit-content select {
    padding: 11px 13px 7px;
    font-size: 18px;
  }

  .mypage-edit-content .select::after {
    width: 10px;
    height: 10px;
    right: 12px;
    border-bottom: 2px solid var(--lightbrown);
    border-right: 2px solid var(--lightbrown);
  } /* 選択ボタンを疑似要素で表示 */

  .mypage-edit-content select {
    padding-right: 36px;
  } /* 選択ボタン用のスペース */

  .mypage-edit-content input[type="submit"] {
    margin: 0 auto 60px;
  }

  .mypage-edit-content .optional::after {
    font-size: 13px;
    padding: 5px 6px 1px;
    border-radius: 5px;
    margin-left: 5px;
  } /* labelの[任意] */

  .mypage-edit-list {
    margin: 24px auto 16px;
    width: 70%;
  }

  .mypage-edit-list li + li {
    margin-top: 22px;
  }

  .mypage-edit-list label,
  .mypage-edit-title {
    font-size: 17px;
    margin-bottom: 6px;
  }

  .mypage-edit-text {
    font-size: 17px;
    line-height: 22px;
  }

  .mypage-edit-flex input + input,
  .mypage-edit-flex .select + .select {
    margin-left: 3px;
  }

  .mypage-edit-email input,
  .mypage-edit-pwd input {
    margin-bottom: 6px;
  }

  .mypage-edit-name input {
    width: 150px;
  }

  .mypage-edit-long input {
    width: 100%;
  }

  .mypage-edit-zipcode input {
    width: 180px;
  }

  .mypage-edit-city input {
    width: 200px;
  }

  .mypage-edit-tel input {
    width: 250px;
  }

  .mypage-edit-err {
    font-size: 14px;
    height: 16px;
    margin-bottom: 16px;
  }

  .mypage-order-flex {
    margin: 36px auto 0;
    width: 80%;
  }

  .mypage-order-content {
    width: 80%;
    max-width: 100vw;
    margin: 0 auto;
  }

  .mypage-order-total-text {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .mypage-order-total {
    font-size: 22px;
    margin-bottom: 26px;
  }

  .mypage-order-total-tax::after {
    font-size: 14px;
  }

  /*------ Product ------*/
  .product-content {
    padding-top: 24px;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .product-images {
    width: 45%;
    margin: 0;
    padding-right: 36px;
  }

  .product-img-flame {
    max-width: 400px;
  }

  .product-img {
    width: 90%;
    padding-top: 90%;
    height: 0;
    margin-bottom: 24px;
  }

  .product-img img {
    width: 100%;
    max-width: 360px;
    box-shadow: 3px 3px 5px var(--shadow);
  }

  .product-favorite {
    right: 5%;
    bottom: 5%;

    position: absolute;
    z-index: 2;
    background-color: transparent;
  }

  .product-thumb i {
    font-size: 13px;
  }

  .product-thumb-list img {
    width: 15%;
    margin: 0 5px 5px;
  }

  .product-thumb .show {
    border: 1px solid var(--brown);
  }

  .product-form {
    margin: 0;
    padding-top: 24px;
    padding-left: 36px;
  }

  .product-info {
    width: 320px;
  }

  .product-info-content {
    margin: 0 24px 36px;
  }

  .product-text {
    margin-bottom: 24px;
  }

  .product-name {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .product-price {
    font-size: 24px;
  }

  .product-price::after {
    font-size: 14px;
  }

  .product-form {
    margin-bottom: 48px;
  }

  .product-form select {
    padding: 9px 50px 7px 14px;
    font-size: 14px;
  }

  .product-form .select::after {
    height: 11px;
    width: 11px;
    right: 14px;
    border-bottom: 3px solid var(--lightbrown);
    border-right: 3px solid var(--lightbrown);
    border-radius: 2px;
  }

  .product-err {
    font-size: 14px;
    margin-left: 10px;
  }

  .product-quantity {
    margin-top: 8px;
    margin-bottom: 30px;
  }

  .product-form .quantity::before {
    width: 10px;
    left: 12px;
  }

  .product-form .quantity::after {
    font-size: 20px;
    right: 10px;
  }

  .product-form .quantity-input {
    width: 100px;
    height: 32px;
    padding: 0 30px;
    font-size: 18px;
  }

  .product-form .quantity-button {
    height: 32px;
    width: 30px;
  }

  .product-form .button-long {
    width: 100%;
    margin: 0 0 36px;
  }

  .product-detail-text {
    margin-left: 24px;
  }

  .product-detail-text p {
    font-size: 16px;
  }

  /*------ Cart ------*/
  .cart-list-content {
    display: flex;
    justify-content: flex-end;
  }

  .cart-list {
    padding-bottom: 2px;
  }

  .cart-list li {
    padding: 0 36px 24px;
  }

  .cart-list-img img {
    width: 100px;
    box-shadow: 3px 3px 5px var(--shadow);
  }

  .cart-info {
    width: 80%;
    padding: 16px 6px;
  }

  .cart-name {
    font-size: 18px;
    margin-bottom: 3px;
  }

  .cart-type {
    font-size: 12px;
    margin-bottom: 12px;
  }

  .cart-price {
    font-size: 16px;
  }

  .cart-quantity {
    margin: auto 0;
  }

  .cart-quantity .quantity::before {
    width: 10px;
    left: 11px;
  }

  .cart-quantity .quantity::after {
    font-size: 18px;
    right: 10px;
  }

  .cart-quantity .delete {
    font-size: 16px;
    margin-right: 3px;
    margin-top: 10px;
  }

  .cart-list .quantity-input {
    padding-left: 30px;
    padding-right: 30px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
  }

  .cart-list .quantity-button {
    height: 30px;
    width: 28px;
  }

  .cart-subtotal-content {
    display: block;
    margin: auto 0;
    width: 200px;
    text-align: right;
  }

  .cart-subtotal-text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .cart-subtotal {
    font-size: 26px;
  }

  .cart-total-content {
    width: 100%;
    padding: 0 36px;
  }

  .cart-total {
    font-size: 36px;
  }

  .cart-total-text {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .cart-content button {
    margin: 0 0 0 auto;
  }

  .cart-calc {
    margin-bottom: 24px;
  }

  .cart-calc button {
    font-size: 16px;
    height: 28px;
    padding: 6px 10px;
    border-radius: 10px;
  }

  .cart-subtotal-tax::after {
    font-size: 14px;
  }

  .cart-total-tax::after {
    font-size: 16px;
  }

  /*------ Order ------*/
  .order {
    margin-top: 36px;
  }

  .order-container {
    margin: 0 96px;
  }

  .order-flex {
    display: flex;
    justify-content: space-between;
  }

  .order-left {
    width: 30%;
  }

  .order-right {
    width: 60%;
  }

  .order-content {
    width: 100%;
    max-width: 100vw;
  }

  .order-title {
    font-size: 18px;
    margin-bottom: 15px;
    text-decoration: underline 2px dotted var(--lightbrown);
    text-underline-offset: 3px;

    font-weight: bold;
    color: var(--brown);
  }

  .order-user-name {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .order-user-zipcode {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .order-user-address {
    font-size: 16px;
    line-height: 20px;
  }

  .order-list {
    margin: 0 auto 10px;
    padding-bottom: 1px;
    border-bottom: 1px solid var(--lightbrown);
  }

  .order-list li {
    display: flex;
    margin: 0 auto;
    padding: 0 20px 20px;
    border-bottom: 1px dotted var(--lightbrown);
  }

  .order-list li:last-of-type {
    border-bottom: 1px solid var(--lightbrown);
  }

  .order-list li + li {
    margin-top: 20px;
  }

  .order-list-content {
    margin-left: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .order-list-img {
    width: fit-content;
    margin: 0;
  }

  .order-list-img img {
    width: 80px;
    border-radius: 10%;
    box-shadow: 1px 1px 3px var(--shadow);
  }

  .order-name {
    font-size: 18px;
    margin-bottom: 4px;
  }

  .order-type::before {
    content: "type:";
  }

  .order-type {
    font-size: 15px;
    margin-bottom: 12px;
    color: var(--brown);
  }

  .order-price {
    font-size: 16px;
    color: var(--brown);
  }

  .order-subtotal-content {
    text-align: right;
    margin: auto 0 0;
  }

  .order-subtotal-text {
    font-size: 12px;
    margin-bottom: 4px;
  }

  .order-subtotal {
    font-size: 18px;
  }

  .order-subtotal::before {
    content: "￥";
  }

  .order-total-content {
    text-align: right;
    padding: 0 20px 20px;
    margin: 0 auto 36px;
  }

  .order-total-text {
    font-size: 18px;
    margin-bottom: 12px;
  }

  .order-total {
    font-size: 27px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .order-total::before {
    content: "￥";
  }

  .order-tax::after {
    content: "(税込)";
    text-align: right;
    display: block;
  }

  .order-subtotal-tax::after {
    font-size: 10px;
  }

  .order-total-tax::after {
    font-size: 12px;
  }

  .order input[type="submit"] {
    margin: 0 0 0 auto;
  }

  /*------ Contact ------*/
  .contact-content {
    width: fit-content;
    max-width: 84%;
    margin: 0 auto;
  }

  .contact-content label {
    padding-left: 3px;
    font-size: 16px;
  }

  .contact-content-text {
    font-size: 16px;
    margin-bottom: 36px;
  }

  .contact-content .required-text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .contact-content .required::after {
    font-size: 16px;
    margin-left: 3px;
  }

  .contact-content .optional::after {
    font-size: 13px;
    padding: 5px 5px 1px;
    border-radius: 5px;
    margin-left: 6px;
  }

  .contact-form {
    width: 96%;
  }

  .contact-form input[type="text"],
  .contact-form textarea[type="text"] {
    font-size: 18px;
  }

  .contact-form input[type="text"] {
    padding: 10px 12px 4px;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .contact-form textarea[type="text"] {
    height: 350px;
    padding: 12px 16px;
    margin-top: 6px;
    margin-bottom: 48px;
  }

  /*------ Guide ------*/
  .guide-nav {
    display: flex;
    width: 450px;
    margin-left: 80px;
    margin-bottom: 0px;
    justify-content: space-between;
  }

  .guide-nav ul {
    font-size: 16px;
  }

  .guide-nav ul:first-child {
    margin-bottom: 0;
  }

  .guide-nav li + li {
    margin-top: 24px;
  }

  .guide-content h2 {
    margin-bottom: 36px;
  }

  .guide-content article {
    padding-top: 72px;
  }

  .guide-article {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
    line-height: 24px;
  }

  .guide-article-text {
    margin-bottom: 24px;
  }

  .guide-content li {
    padding-left: 14px;
  }

  .guide-content li:before {
    height: 8px;
    width: 8px;
    top: 6px;
  }

  /*------ 404 ------*/
  .notfound-img {
    margin-bottom: 48px;
  }

  .notfound-img img {
    border-radius: 25px;
    width: 80%;
  }

  .notfound-img p {
    font-size: 48px;
  }

  .notfound-content {
    margin: 0 auto;
  }

  .notfound-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .notfound-content .notice {
    font-size: 14px;
  }

  /*------ Footer ------*/
  .footer-content {
    height: 320px;
    width: 80%;
    padding-top: 56px;
    margin: auto;
  }

  .footer-upper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
  }

  .footer-left {
    text-align: left;
  }

  .footer-logo svg {
    height: 24px;
  }

  .footer-logo p {
    font-size: 12px;
    margin-top: 10px;
  }

  .footer-logo {
    margin-bottom: 24px;
  }

  .footer-sns ul {
    margin-left: 0;
  }

  .footer-sns i {
    font-size: 24px;
  }

  .footer-sns li + li {
    margin-left: 15px;
  }

  .footer-right {
    margin: 0;
  }

  .footer-right ul:first-child {
    margin-right: 48px;
  }

  .footer-right li + li {
    margin-top: 14px;
  }

  .footer-right a {
    font-size: 14px;
  }

  .footer-copy {
    text-align: left;
  }

  .footer-copy p {
    font-size: 14px;
  }

  /* Footer - TopButton */
  .footer-before {
    height: 120px;
    padding-right: 24px;
    padding-top: 60px;
    bottom: 320px;
  }

  .footer-before-button {
    border: 3px solid var(--lightbrown);
    border-radius: 7px;
    height: 48px;
    width: 48px;
  }

  .footer-before-button p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .footer-before-button i {
    margin-top: 6px;
    font-size: 16px;
  }
}
